<link rel="stylesheet" href="/css/logisymphony.css" />
{% if h.get_logi_url() %}
    <script src="{{ h.get_logi_url() }}/managed/Scripts/Embed/dundas.embed.min.js" type="text/javascript" ></script>
    <div class="dundas-bi-embed"
        data-dundas-bi-url="{{ h.get_logi_url() }}/managed/"
        data-controller-type="Dashboard"
        data-file-system-id="{{ resource_view.get('dashboard_id') }}">
    </div>
{% else %}
    <div class="alert alert-warning">
        <p>Logi Symphony URL not set. Please contact your administrator.</p>
    </div>
{% endif %}
