include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/logisymphony *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/logisymphony/migration *.ini *.py *.mako
