.dundas-bi-embed {
  height: 780px;
  width: 100%;
}
@media (max-width: 1680px) {
  .dundas-bi-embed {
    height: 680px;
  }
}
@media (max-width: 1280px) {
  .dundas-bi-embed {
    height: 580px;
  }
}
@media (max-width: 768px) {
  .dundas-bi-embed {
    height: 480px;
  }
}